<div class="container-fluid">
  <div class="panel panel-default" *ngIf="(forecast$ | async) as forecast; else noForecast">
    <div class="panel-heading">
      <h3 class="panel-title">5-day forecast for {{forecast.city.name}}</h3>
    </div>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let day of forecast.list">
        {{day.dt * 1000 | date:'EEEE, MMM d'}}:
        {{day.weather[0]?.main}}
        - Min: {{day.temp.min | number: '1.0-0'}}
        - Max: {{day.temp.max | number: '1.0-0'}}
        <app-weather-image [customClass]="'icon'" [icon]="day.weather[0]?.icon"></app-weather-image>
      </li>
    </ul>
  </div>
  <ng-template #noForecast>
    <div class="panel-heading">
      <h3 class="panel-title">No 5-day forecast available for {{zip}}</h3>
    </div>
  </ng-template>
  <button class="btn btn-success" tabindex="0" id="mainPageBtn" (click)="goHome()">&lt; Back to main page</button>
</div>
