<ng-container [ngSwitch]="icon">
  <img [class]="customClass" *ngSwitchCase="'01d'" src="https://www.angulartraining.com/images/weather/sun.png">
  <img [class]="customClass" *ngSwitchCase="'01n'" src="https://www.angulartraining.com/images/weather/sun.png">
  <img [class]="customClass" *ngSwitchCase="'02d'" src="https://www.angulartraining.com/images/weather/clouds.png">
  <img [class]="customClass" *ngSwitchCase="'02n'" src="https://www.angulartraining.com/images/weather/clouds.png">
  <img [class]="customClass" *ngSwitchCase="'03d'" src="https://www.angulartraining.com/images/weather/clouds.png">
  <img [class]="customClass" *ngSwitchCase="'03n'" src="https://www.angulartraining.com/images/weather/clouds.png">
  <img [class]="customClass" *ngSwitchCase="'04d'" src="https://www.angulartraining.com/images/weather/clouds.png">
  <img [class]="customClass" *ngSwitchCase="'04n'" src="https://www.angulartraining.com/images/weather/clouds.png">
  <img [class]="customClass" *ngSwitchCase="'09d'" src="https://www.angulartraining.com/images/weather/rain.png">
  <img [class]="customClass" *ngSwitchCase="'09n'" src="https://www.angulartraining.com/images/weather/rain.png">
  <img [class]="customClass" *ngSwitchCase="'10d'" src="https://www.angulartraining.com/images/weather/rain.png">
  <img [class]="customClass" *ngSwitchCase="'10n'" src="https://www.angulartraining.com/images/weather/rain.png">
  <img [class]="customClass" *ngSwitchCase="'11d'" src="https://www.angulartraining.com/images/weather/rain.png">
  <img [class]="customClass" *ngSwitchCase="'11n'" src="https://www.angulartraining.com/images/weather/rain.png">
  <img [class]="customClass" *ngSwitchCase="'13d'" src="https://www.angulartraining.com/images/weather/snow.png">
  <img [class]="customClass" *ngSwitchCase="'13n'" src="https://www.angulartraining.com/images/weather/snow.png">
  <img [class]="customClass" *ngSwitchCase="'50d'" src="https://www.angulartraining.com/images/weather/clouds.png">
  <img [class]="customClass" *ngSwitchCase="'50n'" src="https://www.angulartraining.com/images/weather/clouds.png">
  <span *ngSwitchDefault></span>
</ng-container>
